# Ignorar carpetas de Node
node_modules/

# Ignorar archivos de sesión de Baileys
auth_info/

# Ignorar logs locales
logs.txt
Clave SMTP Google.txt
gen-lang-client-0104843305-3b7345de7ec0.json
Tickets/
Tickets/Ramirez/ticket_Ramirez_NJ 309_1763401653958.pdf
Tickets/Tejada/ticket_Tejada_F2919_1763394158494.pdf
Tickets/Tejada/ticket_Tejada_VA0480610_1763395223557.pdf
